.headColor {
    color: whitesmoke;
    text-align: center;
    font-size: 50px
}

.topnav { 
  overflow: hidden;
  background-color: darkgray;
  border: 1px solid whitesmoke;
  display: flex;
  justify-content: space-around;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;  
}

.topnav a:hover {
  background-color: whitesmoke;
  color: dimgray;
}
  

.footer {
    text-align: center;
    bottom: 0;
    position: center;
}
