.headColor {
    color: whitesmoke;
    text-align: center;
    font-size: 50px
}

ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
    background-color: lightgray;
}

.topnav { 
  overflow: hidden;
  background-color: darkgray;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: whitesmoke;
  color: dimgray;
}
  

.footer {
    text-align: center;
    bottom: 0;
    position: center;
}
